/* 共通のスタイル（PCおよびスマートフォン用） */
body {
    margin: 0;
    padding-top: 90px; /* ヘッダーの高さ分の余白を確保 */
}

h1 {
    text-align: center;
    font-size: 40px;
    letter-spacing: 1px;
    line-height: 1.2;
}

h1 span {
    font-size: 15px;
    font-weight: normal;
}

.glovalNavi {
    text-align: center;
    margin-bottom: 50px;
}

.glovalNavi.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff; /* ヘッダーの背景色 */
    z-index: 1000; /* ヘッダーが他の要素の上に表示されるようにするためのz-index */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* ヘッダーに影を追加 */
}

.glovalNavi li {
    display: inline-block;
    font-weight: bold;
    margin-right: 40px;
}

.glovalNavi span {
    font-size: 10px;
    font-weight: normal;
}

.glovalNavi li:last-child {
    margin-right: 0;
}

.mainImage {
    width: 100%;
    margin-bottom: 50px;
}

.mainImage img {
    width: 100%;
    height: auto;
}

.aboutSection h2 {
    line-height: 1.2;
    text-align: center;
    font-size: 11px;
    margin-bottom: 40px;
}

.aboutSection h2 span {
    font-size: 35px;
    border-bottom: 2px solid #000000;
}

/* スマートフォン用のスタイル */
@media only screen and (max-width: 600px) {
    body {
        padding-top: 60px;
    }

    h1 {
        font-size: 30px;
    }

    h1 span {
        font-size: 12px;
    }

    .glovalNavi {
        margin-bottom: 20px;
    }

    .glovalNavi li {
        display: block;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .glovalNavi span {
        font-size: 8px;
    }

    .mainImage {
        margin-top: 80px; /* タイトルとヘッダーの高さを合わせる */
    }

    .aboutSection h2 {
        font-size: 14px;
        margin-bottom: 20px;
    }

    .aboutSection h2 span {
        font-size: 20px;
    }
}
