/* 共通のスタイル */
body {
    margin: 0;
    padding-top: 70px; /* ヘッダー分の余白を追加 */
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    font-size: 40px;
    letter-spacing: 1px;
    line-height: 1.2;
    margin: 0;
    padding: 20px 0;
    background-color: red;
    width: 100%;
    top: 0;
    z-index: 1000;
}

h1 span {
    font-size: 15px;
    font-weight: normal;
}

.glovalNavi {
    text-align: center;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

.glovalNavi ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.glovalNavi li {
    display: inline-block;
    font-weight: bold;
    margin-right: 40px;
}

.glovalNavi span {
    font-size: 10px;
    font-weight: normal;
}

.glovalNavi li:last-child {
    margin-right: 0;
}

.menu-icon {
    display: none;
    cursor: pointer;
}

.menu-icon span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 6px 0;
}

.mobile-menu {
    display: none;
}

/* スマートフォン用のスタイル */
@media only screen and (max-width: 600px) {
    body {
        padding-top: 100px;
    }

    h1 {
        font-size: 30px;
        padding: 10px 0;
        margin-top: 0;
    }

    h1 span {
        font-size: 12px;
    }

    .glovalNavi {
        margin-top: 100px;
        margin-bottom: 20px;
    }

    .glovalNavi ul {
        display: none;
    }

    .menu-icon {
        display: block;
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 1001;
    }

    .mobile-menu {
        display: block;
        position: fixed;
        top: 70px;
        right: 0;
        background-color: #fff;
        width: 60%;
        max-width: 300px;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    }

    .mobile-menu ul {
        padding: 20px;
    }

    .mobile-menu li {
        display: block;
        margin-bottom: 10px;
    }

    .glovalNavi.fixed {
        display: none;
    }
}
