/* 共通のスタイル（PCおよびスマートフォン用） */
body {
    margin: 0;
    padding-top: 90px; /* ヘッダーの高さに合わせて調整 */
}

h1 {
    text-align: center;
    font-size: 40px;
    letter-spacing: 1px;
    line-height: 1.2;
}

h1 span {
    font-size: 15px;
    font-weight: normal;
}

.glovalNavi {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 20px 0; /* 上下の余白を追加 */
    background-color: #ffffff;
    z-index: 1000;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.glovalNavi li {
    display: inline-block;
    font-weight: bold;
    margin-right: 20px; /* 余白を調整 */
}

.glovalNavi span {
    font-size: 10px;
    font-weight: normal;
}

.glovalNavi li:last-child {
    margin-right: 0;
}

.mainImage {
    width: 100%;
    margin-top: 90px; /* ヘッダーの高さに合わせて調整 */
}

.mainImage img {
    width: 100%;
    height: auto;
}

.aboutSection h2 {
    line-height: 1.2;
    text-align: center;
    font-size: 11px;
    margin-bottom: 40px;
}

.aboutSection h2 span {
    font-size: 35px;
    border-bottom: 2px solid #000000;
}

/* スマートフォン用のスタイル */
@media only screen and (max-width: 600px) {
    body {
        padding-top: 60px; /* ヘッダーの高さに合わせて調整 */
    }

    h1 {
        font-size: 30px;
    }

    h1 span {
        font-size: 12px;
    }

    .glovalNavi {
        padding: 10px 0; /* 上下の余白を調整 */
        margin-bottom: 10px;
    }

    .glovalNavi li {
        display: block;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .glovalNavi span {
        font-size: 8px;
    }

    .mainImage {
        margin-top: 60px; /* ヘッダーの高さに合わせて調整 */
    }

    .aboutSection h2 {
        font-size: 14px;
        margin-bottom: 20px;
    }

    .aboutSection h2 span {
        font-size: 20px;
    }
}
